# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/


*.tmp
*.tmp_proj
*.log
.builds
*.pidb
*.svclog
*.scc
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/

# Project specific
__pycache__
build/
dist/
Old/
cli.egg-info/
__internal__/
